@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*html,body{height:100%;}*/

body{
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family: 'Nanum Gothic',ë‹ì›€;
	
}

ul{
	margin:0px;
	padding:0px;
	list-style:none;
}

a img  
{  
border: none;  
}  

a {outline: none;}
a { selector-dummy : expression(this.hideFocus=true);}

h1{margin:0px;padding:0px;}

#header{border: 0px solid red;height:177px;width:100%;position:relative;}
.q_me{
	position:fixed;
	margin-left:1010px;
	margin-top:10px;
}

.m_top{background-color:#f4f4f4;width:100%;height:29px;border-bottom:1px solid #adadad;}
.menu-top{height:15px;padding:10px;width:996px;margin:0 auto;border: 0px solid red;}
.menu-top ul{float:right;}
.menu-top ul li{float:left;margin-left:15px;}
.menu-st ul{border-left:1px solid #adadad;border-right:1px solid #adadad;width:122px;height:29px;margin-top:-10px;}
.menu-st ul li{padding-top:6px;}
.menu-hi ul{border-left:1px solid #adadad;width:122px;height:29px;margin-top:-10px;}
.menu-hi ul li{padding-top:6px;}
.logo-to{width:1000px;margin:0 auto;border: 0px solid red;}
.logo-to_01{margin-top:20px;}
.logo-to_02{
	margin-left:850px;margin-top:-30px;
}

.g_menu{background-color:#14487f;width:100%;height:42px;}
.g_menu_con{width:960px;margin:0 auto;border: 0px solid red;margin-top:30px;}
.g_menu_con ul li{ float:left;font-size:15px;font-weight:bold;}
#cont{height:920px;}
.con-01{margin:0 auto;width:1000px;}
.con-02{float:left;width:663px;}
.con-03{float:right;}
.e_02{margin-top:16px;}
.cus_01{margin:0 auto;width:1000px;}
.cus_02{float:left; margin-top:16px;}
.cus_03{float:right;margin-top:16px;}

.category_ul{
	float:left;
}

.category_ul li{
	padding-top:12px;
	padding-bottom:13px;
	padding-left:38px;
	padding-right:38px;
	
}
.category_li{
	color:#fff;
}
.category_li:hover{
	cursor:pointer;
	background:#f4f4f4;
	color:#14487f;
}

.category_li_over{
	background:#f4f4f4;
	color:#14487f;
}


.co_board{clear:both;width:100%;}
.bb{margin:0 auto;width:1000px;border: 0px solid red;}
.bbs{width:239px;border: 1px solid #adadad;height:258px;float:left;margin-right:12px;margin-top:16px;}
.bbs01{float:right;width:239px;border: 1px solid #adadad;height:258px;margin-top:16px;background-color:#576e8d;}
.co_board_01{}

.family_01{clear:both;}
.family_01 ul{margin:0 auto;width:1000px;}
.family_01 ul li{float:left;margin-right:4px;padding-top:16px;margin-left:3px;}


<!-- í•˜ë‹¨ ì‹œìž‘  -->
.f_list{border: 1px solid red;width:100%;height:39px;background-color:#fff;}
.f_ho{width:100%;margin:0 auto;border: 1px solid #adadad;height:39px;}
.f_ho ul{width:1000px;margin:0 auto;border: 0px solid red;height:39px;}
.f_ho ul li{float:left;padding-top:13px;padding-left:30px;}
.f_add_01{width:100%;background-color:#d6d6d6;height:130px;}
.f_ad_bg{width:1000px;margin:0 auto;}
.logo_foot{float:left;margin-top:30px;}
.f_add_02{float:left;margin-left:50px;margin-top:40px;line-height:1.6em;}

.s_form_mail_btn{
	padding-top:10px;
	padding-bottom:8px;
	padding-left:7px;
	padding-right:7px;
}

.sub_page_layer{
	margin:0 auto;
	width:1000px;
}

.f_sub_page_layer{
	float:left;
	width:1000px;
	margin-bottom:20px;
	margin-top:20px;
	border:0px solid red;
}

.f_sub_title_layer{
	height:40px;
	background:#f4f4f4;
	border-bottom:1px solid #dadada;
}

.f_sub_title{
	margin:0 auto;
	width:1000px;
	height:40px;
	border:0px solid red;
}

.f_sub_title_txt{
	float:right;
	color:#666666;
	font-size:11px;
	margin-top:15px;
} 

.sub_category_container{
	display:none;
	height:170px;
	background:#f4f4f4;
	border-bottom:1px solid #dadada;
	position:fixed;
	width:100%;
	z-index:1;
}

.sub_category_layer{
	margin:0 auto;
	width:1000px;
	height:170px;
}

.f_sub_category_layer{
	float:left;
	width:1000px;
	height:170px;
}

.sub_category_ul{
	float:left;
	margin-top:5px;
}

.sub_category_ul li{
	float:left;
	text-align:center;
	padding-top:7px;
	padding-bottom:7px;
	color:#666;
	font-size:11px;
}
.sub_category_ul li:hover{
	cursor:pointer;
	color:#14487f;
	text-decoration:underline;
}

.top_txt:hover{
	cursor:pointer;
	color:#f14b4b;
	text-decoration:underline;
}

.sub_category01{
	border:0px solid red;
	width:132px;
	margin-left:20px;
}
.sub_category01 li{width:132px;}


.sub_category02{
	border:0px solid red;
	width:132px;
}
.sub_category02 li{width:132px;}

.sub_category03{
	border:0px solid red;
	width:147px;
}
.sub_category03 li{width:147px;}

.sub_category04{
	border:0px solid red;
	width:115px;
}
.sub_category04 li{width:115px;}

.sub_category05{
	border:0px solid red;
	width:163px;
}
.sub_category05 li{width:163px;}

.sub_category06{
	border:0px solid red;
	width:132px;
}
.sub_category06 li{width:132px;}

.sub_category07{
	border:0px solid red;
	width:132px;
}
.sub_category07 li{width:132px;}

.sub_title_txt_layer{
	text-align:left;
	padding-bottom:10px;
	padding-top:10px;
	border-bottom:2px solid #14487f;
	font-size:17px;
	color:#14487f;
	font-weight:bold;
} 

.left_menu_layer{
	float:left;
	width:170px;
	border:0px solid red;
}

.content_layer{
	float:right;
	width:810px;
	border:0px solid red;
}

.left_menu_tit{
	width:170px;
	border-top:1px solid #14487f;
	border-bottom:2px solid #14487f;
	padding-top:10px;
	padding-bottom:10px;
	font-size:16px;
	text-align:center;
}

.left_menu_txt_ul{
	float:left;
	width:170px;
}

.left_menu_txt_ul li{
	width:155px;
	float:left;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	border-bottom:1px solid #dadada;
}

.left_menu_list:hover{
	cursor:pointer;
	background:#f1f1f1;
}

.left_menu_over{
	background:#14487f;
	color:#fff;	
}



